.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label {
  display: block;
}

body {
  background-color: 	#f9f9f9;
}

a {
  text-decoration:none;
  color: inherit;
}

input {
  display:block;
  margin-bottom : 10px;
}

button {
  display:block;
}

ul {
  list-style: none;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-container {
  width:100%;
  height: 100vh;
  display : flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  height: 30vh;
  width: 15vw;
  border: 2px solid #551a8b;
  border-radius : 50px;
  padding: 20px 20px 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: "Source Sans Pro";
  font-size: 1.5em;
}

.login-form-text {
  margin-left: 2.5vw;
  margin-top: 1vh;
}

.main-bg-img {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -999;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 20px;
  display: block;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.navItem {
  display: inline;
  border : 1px solid black;
  padding: 1vh 4vw 1vh 4vw;
}

.navItem:hover {
  background-color: white;
}

.modeChoiceText{
  display:inline;
}

.radioForm {
  display: inline;
}

.modeForm {
  border: 1px solid black;
  height: 30vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modeChoiceContainer {
  display:block;
  margin-bottom: 2em;
}

.modeFormBtn {
  display:block;
  width: 5vw;
  height: 3vh;
}

.cam-container {
  display:flex;
  width:100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.camBox {
  border: 0.5px solid black;
  width: 35vw;
  height: 40vh;
  margin-left: 1vw;
  margin-top: 2vh;
}

.cam-col {
  display: block;
}

.camOverlay {
  filter : blur(30px);
}

.camBlurred {
  filter : blur(30px);
}

.camNotBlurred {
  filter : none;
}

.contestant {
  width: 20vw;
  height: 30vh;
}

.guestCam {
  width: 35vw;
  height: 35vh;
}

.codeForm {
  border : 1px solid black;
  padding: 3vh 3vw 3vh 3vw;
  border-radius: 10px;
}
.panel-link {
  float: right;
  margin-right: 2vw;
  margin-top: 2vh;
  padding: 2px 2px 2px 2px;
  border: 1px solid black;
  border-radius: 5px;
  width: 3vw;
  align-self: flex-end;
  display: block;
}

.hor-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 50px;
}

.generateButton {
  background-color: #c9fdc9;
  border: 2px solid #4ef84e;
  width: 7vw;
  border-radius: 10px;
  margin-top: 2vh;
}

.generateForm {
  position:absolute;
}

.copied {
  background-color: #F0F0F0;
  border-left: 2px solid #4ef84e;
  padding : 5px 5px 5px 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
}

.addUserForm {
  border : 1px solid black;
  width : 10vw;
  margin-top : 2vh;
  padding : 20px 20px 20px 20px;
}

.horcent {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.userListItem {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  width: 30vw;
  height: 5vh;
  margin-bottom: 2vh;
  justify-content: space-between;
}

.userListText {
  display: inline;
  border: none;
  background:rgba(0,0,0,0);
}

.userListHead {
  display: flex;
  flex-direction: row;
  width: 30vw;
  height: 5vh;
  margin-bottom: 2vh;
  justify-content: space-between;
}

.overlayBlock {
  background: rgba(0,0,0,1)
}

.overlayBlock:hover {
  background : none;
}

.deleteUserBtn {
  border: 1px solid black;
  margin-right: 1em;
}

.addVotingForm {
  border : 1px solid black;
  width: 10vw;
  margin-top : 2vh;
  padding: 2em 2em 2em 2em;
}

.voteChoice {
  display: inline;
}

.pollContainer {
  margin-top: 3vh;
}

.pollItem {
  border : 1px solid black;
  width : 50vw;
  display: flex;
  justify-content: space-around;
}

.pollChoice {

}

.deletePollCode {
  display : none;
}
