* {
  margin : 0;
  padding : 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label {
  display: block;
}

body {
  background-color: #F5F5F5;
}

a {
  text-decoration:none;
  color: inherit;
}

input {
  display:block;
  margin-bottom : 10px;
}

button {
  display:block;
}

ul {
  list-style: none;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  background-image : url('./assets/lobby_background_1.jpg');
  background-size : cover;
  margin : 0;
  padding : 0;
  width: 100vw;
  height: 100vh;
  overflow : hidden;
}

.content-container-main {
  width:100%;
  height: 100vh;
  display : flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('./assets/main.jpg') fixed no-repeat;
  background-size: cover;
}
.content-container {
  width:100%;
  height: 90vh;
  display : flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 350px;
  height: 500px;
  background: inherit;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  margin-left: -175px;
  margin-top: -250px;
  border-radius: 8px;
  display : flex;
  justify-content: center;
  border : 1px solid white;
}

.login-container:before {
  width: 400px;
  height: 550px;
  content: "";
  position: absolute;
  top: -25px;
  left: -25px;
  bottom: 0;
  right: 0;
  background: inherit;
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2);
  filter: blur(10px);
}

.button-container-row {
  display : flex;
  flex-direction: row;
}

.login-input {
  background :   #f7f9f9;
  width: 60%;
  height : 7%;
  font-size : 2vh;
  opacity : 0.5;
  border : 1px solid white;
  border-radius : 2px;
  padding: 1vh 1vw 1vh 1vw;
}

.login-form {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: "Source Sans Pro";
  font-size: 1.5em;
  text-align: center;
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%,-50%);
 width: 80%;
 height: 80%;
}

#login-button {
  background : rgba(0,0,0,0.9);
  padding : 1vh 1vw;
  border : 0.5px solid white;
  color : white;
  font-size: 1vw;
  height: 40px;
  width: 80px;
}

#codeSubmitButton {
  width: 60px;
  height : 40px;
  border : none;
}

#codeHomeLink {
  width: 60px;
  height: 40px;
  margin-left: 10px;
}

.login-form-text {
  margin-left: 2.5vw;
  margin-top: 1vh;
}

.main-bg-img {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -999;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 20px;
  display: block;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 2vh;
}

.navItem {
  display: inline;
  border : 1px solid black;
  padding: 1vh 4vw 1vh 4vw;
}

.navItem:hover {
  background-color: rgba(240, 240, 240, 0.3);
}

.modeChoiceText{
  display:inline;
  margin-left : 1vw;
  font-size: 1.5vw;
}

.radioForm {
  display: inline;
}

.modeForm {
  border: 1px solid black;
  height: 40vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modeChoiceContainer {
  display:block;
  margin-bottom: 2em;
}

.modesContainer {
  padding: 1vw;
  overflow-y: scroll;
  margin-left: 2vw;
}

.modeFormBtn {
  display:block;
  background : rgba(0,0,0,0.6);
  margin-left : 0.5vw;
  margin-top : 1vh;
  padding : 0.4vh 0.4vw 0.4vh 0.4vw;
  border : 0.5px solid white;
  color : white;
  font-size: 0.8vw;
  width : 5vw;
  height : 4.5vh;
}

.cam-container {
  display:flex;
  width:100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.camBox {
  border: 0.5px solid black;
  width: 30vw;
  margin-left: 1vw;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
}

.hiddenCam {
  display : none;
}

.hidden {
  display: none !important;
}

.cam-col {
  display: block;
}
.camBlurred {
  filter : blur(30px);
}

.camNotBlurred {
  filter : none;
}

.contestant {
  height: 36.2vh;
  width: 27vw;
}

.contestantCam {
  height: 30vh;
  width: 100%;
}

.guestCam {
  height: 33vh;
}
/**
.toggleButton {
  align-self: flex-end;
}
**/
.buttonContainer {
  display:flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  flex-wrap : nowrap;
  margin-right : 1vw;
}

.buttonsContainer-host {
  display : flex;
  justify-content: center;
}

.buttonsContainer-koth {
  display: flex;
  flex-wrap: wrap;
  width: 26vw;
  justify-content: center;
  margin-top : 2vh;
  height : 10vh;
}

.buttonsContainer-bachelor {
  display : flex;
  width: 100%;
  height: 60%;
  justify-content: center;
  align-self: center;
  border : 1px solid black;
  border-bottom: none;
}

.buttonRow {
  display: flex;
  flex-direction: row;
}

.bottomBar {
  width : 100vw;
  height: 12.5%;
  display : flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-flex-end;
}

.camHeader {
  display: flex;
  width: 100%;
  height: 9vh;
  border-bottom : 1px solid black;
  background-color : rgba(240, 240, 240, 0.7);
  align-items: center;
}

.codeForm {
  padding: 3vh 3vw 3vh 3vw;
  border-radius: 10px;
  z-index: 999;
}

.codeFormContainer {
  width: 350px;
  height: 500px;
  background: inherit;
  position: absolute;
  overflow: hidden;
  border-radius: 8px;
  display : flex;
  justify-content: center;
  border : 1px solid white;
}

.codeFormContainer:before {
  width: 400px;
  height: 600px;
  content : '';
  background: inherit;
  position: absolute;
  filter: blur(10px);
}
.panel-link {
  float: right;
  margin-right: 2vw;
  margin-top: 2vh;
  padding: 2px 2px 2px 2px;
  border: 1px solid black;
  border-radius: 5px;
  width: 3vw;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  margin-left : auto;
}

.hor-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 50px;
}

.horizontal-center {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.vertical-center {
  display : flex;
  align-items: center;
}

.generateButton {
  background-color: #c9fdc9;
  border: 2px solid #4ef84e;
  width: 7vw;
  border-radius: 10px;
  margin-top: 2vh;
}

.generateForm {
  position:absolute;
}

.copied {
  background-color: #F0F0F0;
  border-left: 2px solid #4ef84e;
  padding : 5px 5px 5px 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
}

.addUserForm {
  border : 1px solid black;
  width : 15vw;
  height: 25%;
  margin-top : 2vh;
  padding : 20px 20px 20px 20px;
}

.addUserLabel {
  font-size : 1.5vw;
}

.addUserInput {
  background :   #f7f9f9;
  width: 10vw;
  height : 1vh;
  font-size : 2vh;
  opacity : 0.5;
  border : 1px solid white;
  border-radius : 2px;
  padding: 1vh 1vw 1vh 1vw;
}

#addUserBtn {
  background : rgba(0,0,0,0.7);
  padding : 1vh 1vw;
  border : 0.5px solid white;
  color : white;
  font-size: 1vw;
}

.horcent {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.userListContainer {
  margin-top : 4vh;
  height: 50vh;
  width: 55vw;
  overflow-y : scroll;

}

.userListItem {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  width: 50vw;
  height: 5vh;
  margin-bottom: 2vh;
  justify-content: space-between;
}

.userListText {
  display: inline;
  border: none;
  background:rgba(0,0,0,0);
  font-size : 1.5vw;
}

.userListHead {
  display: flex;
  flex-direction: row;
  width: 30vw;
  height: 5vh;
  margin-bottom: 2vh;
  justify-content: space-between;
}

.usersName {
  margin-left : 1vw;
  font-weight: bold;
  font-family: 'Livvic', sans-serif;
  font-size : 20px;
}

.overlayBlock {
  background: rgba(0,0,0,1)
}

.overlayBlock:hover {
  background : none;
}

.deleteUserBtn {
  border : none;
  margin-right: 0.2vw;
  width: 1.5vw;
  height: 3vh;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.addVotingForm {
  border : 1px solid black;
  width: 10vw;
  margin-top : 2vh;
  padding: 2em 2em 2em 2em;
}

.voteChoice {
  display: inline;
}

.pollContainer {
  margin-top: 3vh;
}

.pollItem {
  border : 1px solid black;
  width : 50vw;
  display: flex;
  justify-content: space-around;
}

.pollChoice {

}

.deletePollCode {
  display : none;
}

.cameraButton {
  width: 3vw;
  height : 5vh;
  background : inherit;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  margin-right : 0.2vw;
  border : 1px solid rgba(0,0,255,0.4);
}

.cameraButton:active {
  box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.2);
}

.cams-container {
  display: flex;
  flex-wrap : wrap;
  height: 76%;
  margin-bottom: 3vh;
  width: 100vw;
  justify-content: space-around;
}

.bachelor-main {
  height: 100vh;
}

.bachelorCamBox {
  width: 20vw;
  height: 28vh;
  overflow: hidden;
  box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.2);
}

.bachelorCam {
  width: 20vw;
}

.videoContainer {
  overflow: hidden;
  height : 33vh;
}

.adminButton {
  margin-top : 1vh;
  padding : 0.4vh 0.4vw 0.4vh 0.4vw;
  border : 0.5px solid white;
  font-size: 90%;
  width : 17%;
  height : 80%;
}

.adminButton:not(:first-child) {
    margin-left : 0.5vw;
}

.hostVoteButton {
  background : rgba(0,0,0,0.6);
  margin-left : 0.5vw;
  margin-top : 1vh;
  padding : 0.4vh 0.4vw 0.4vh 0.4vw;
  border : 0.5px solid white;
  color : white;
  font-size: 0.8vw;
  width : 5vw;
  height : 4.5vh;
}

.highlight {
  width: 75vw;
  height: 75vh;
}

.timerContainer {
  display : flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 15%;
  padding : 1vh 1vw 1vh 1vw;
  margin-left : auto;
  margin-right : -6vw;
}

.timerBlueBorder {
  border : 1px solid blue;
}

.timerRedBorder {
  border : 1px solid red;
}

.editingTimerBorder {
  border : 1px solid blue;
  width: 30%;
  height: 15%;
}
#timeText {
  font-size : 2vw;
  width: 5vw;
}

.timerTextAndButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.timerButton {
  width: 50px;
  height : 2  0px;
  margin-top : 0.2vh;
  margin-left : 0.5vw;
  border : 1px solid rgba(0,0,255,0.4);
}

.timerButtonRow {
  display: flex;
  flex-direction: row;
}

.timerInput {
  background :   #f7f9f9;
  width: 10vw;
  height : 2vh;
  font-size : 2vh;
  opacity : 0.5;
  border : 1px solid white;
  border-radius : 2px;
}

.timerInputText {
  font-size : 14px;
}

.updateTimerContainer {
  display : flex;
  flex-direction: row
}

.updateTimerInputContainer:not(:first-child) {
  margin-left : 1vw;
}

.blackButton {
  background : rgba(0,0,0,0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blackButton:hover {
  cursor: pointer;
}

.blackButton:active {
  background : rgba(200,0,0,0.6);
}

.hideButtonContainer {
  width: 2vw;
  height: 2.5vh;
  border: 1px solid white;
  border-bottom: none;
  z-index: 999;
}

.buttonAndHideContainer {
  display : flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
}

@media screen and (max-width: 1920px) {
  .timerContainer {
    width: 350px;
    height: 40px;
  }

  .modeForm {
    width: 300px;
    height: 400px;
  }

  .addUserForm {
    width: 200px;
    height: 180px;
  }

  .userListContainer {
    width: 700px;
  }

  .adminButton {
    width: 90px;
    height: 35px;
  }

  .timerButton {
    width: 50px;
    height: 20px;
  }

  .modeFormBtn {
    width: 70px;
    height: 30px;
    font-size: 18px;
  }

  #addUserBtn {
    width: 80px;
    height: 30px;
    font-size: 15px;
  }

  #login-button {
    width: 100px;
    height: 40px;
    font-size: 18px;
  }

  #timeText {
    margin-right: 40px;
    font-size: 32px;
  }

  .guest {
    width: 400px;
    height: 270px;
  }

  .contestant {
    width: 350px;
    height: 220px
  }

  .bachelorCamBox {
    width: 255px;
    height: 180px;
  }

  .cams-container {
    height: 475px;
  }
}
